<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Showdown Live Editor</title>

  <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="img/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body ng-app="showdown.editor" ng-controller="editorCtrl" squeeze>
  <nav class="top-bar" role="navigation">
    <a class="bars-lnk" ng-click="toggleMenu()"><i class="fa fa-fw fa-lg fa-bars"></i></a>
    <a><img id="logo" src="img/editor.logo.white.png"></a>
  </nav>
  <div id="editor-wrapper" class="container">
    <textarea id="editor" data-ng-model="text"></textarea>
    <div id="preview" sd-model-to-html="text"></div>
  </div>
  <div class="lateral-menu" pageslide ps-open="checked" ps-side="left" ps-squeeze="true">
    <div class="lateral-menu-content">
      <div class="title">Options</div>
      <div class="lateral-menu-content-inner">
        <div ng-repeat="opt in checkOpts">
          <input ng-click="updateOptions()" type="checkbox" ng-model="opt.value" />&nbsp;&nbsp;{{opt.name}}<br />
        </div>
      </div>
    </div>
  </div>
<script src="//rawgit.com/showdownjs/showdown/master/dist/showdown.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.js"></script>
<script src="//rawgit.com/showdownjs/ng-showdown/master/dist/ng-showdown.js"></script>
<script src="//cdn.rawgit.com/dpiccone/ng-pageslide/v1.0.4/dist/angular-pageslide-directive.js"></script>
<script src="js/editor.js"></script>
</body>
</html>